html{
    background-color: black;
}

#navegador{
      width: 100%;
    background-color: black;
     font-family: 'Montserrat', sans-serif;
    padding-left: 2em;
    padding-right: 2em;
}

#cuerpo{
    margin-top: 66px;
    background-color: black;
}

#texto{
  padding-top: 5em;
    padding-left: 3em;
    padding-right: 2em;
    font-size: 18pt;
    font-family: 'Open Sans', sans-serif;
    color: darkgray;
}
#texto h1{
  padding-bottom: 13vh;
    font-size: 35pt;
    font-family: 'Montserrat', sans-serif;
}

#foto{
    padding-top: 6em;
    padding-bottom: 4em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
